* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #f1f5f9;
  font-family: Arial, sans-serif;
}

.todolist {
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.to-do-list {
  background-color: white;
  padding: 50px;
  border-radius: 15px;
}

#judultodolist {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subjudul {
  color: gray;
  text-align: center;
  margin-bottom: 20px;
}

.area-input {
  display: flex;

  align-items: center;
  padding: 8px;
  gap: 13px;
}

#tambahinput {
  width: 100%;
  padding: 12px;
  border: solid 2px #ddd;
  border-radius: 10px;
  margin-bottom: 2px;
}

#datetime {
  width: 100%;
  max-width: 20px;
  transform: scale(1.4);
  cursor: pointer;
}

.tambah {
  border: none;
  padding: 12px 13px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
}

.search {
  display: flex;
  padding: 8px;
  gap: 10px;
}

#cari {
  margin-top: 0;
  width: 100%;
  max-width: 320px;
  padding: 12px;
  border: solid 2px #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cari {
  height: 42px;
  box-sizing: border-box;
  border: none;
  padding: 12px 13px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
}

#filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#btn-kategori {
  background-color: white;
  padding: 8px;
  color: black;
  border: none;
  font-size: 15px;
  padding-bottom: 13px;
}

#btn-kategori:hover {
  background-color: white;
  border-bottom: 2px solid #007bff;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;

  padding: 14px;
  background-color: #f8fafc;
  margin-bottom: 10px;
  border-radius: 10px;
}

.chekbox {
  transform: scale(1.4);
  margin-right: 15px;
  cursor: pointer;
}

.teks-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-right: 20px;
  margin-left: 20px;
}

.tekscentang {
  font-size: 15px;
}

.klik {
  display: flex;
  gap: 10px;
}

.edit {
  border: none;
  padding: 12px 13px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
}

#inputbarutgl {
  width: 100%;
  max-width: 20px;
  transform: scale(1.4);
  cursor: pointer;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 13px;
  background-color: #f8fafc;
  border-radius: 10px;
  margin-bottom: 0;
}

#inputbaru {
  display: inline-flex;
  align-items: center;

  width: 100%;
  max-width: 255px;
  padding-top: 12px;
  padding: 12px;
  border: solid 2px #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.simpan {
  border: none;
  padding: 12px 13px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
}

.hapus {
  border: none;
  padding: 12px 13px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  background-color: #dc2626;
}

#hapussemua {
  width: 100%;
  border: none;
  padding: 12px 13px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  background-color: #dc2626;
}

@media (max-width: 768px) {
  .to-do-list {
    padding: 30px;
  }

  #judultodolist {
    font-size: 25px;
    font-weight: 700;
  }

  .subjudul {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .area-input {
    padding: 8px;
    gap: 10px;
  }

  #datetime {
    width: 100%;
    max-width: 20px;
    transform: scale(1.4);
    cursor: pointer;
  }

  .tambah {
    border: none;
    padding: 12px 13px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    background-color: #007bff;
  }

  .search {
    display: flex;
    padding: 8px;
    gap: 10px;
  }

  #cari {
    margin-top: 0;
    width: 100%;
    max-width: 320px;
    padding: 12px;
    border: solid 2px #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .cari {
    height: 42px;
    box-sizing: border-box;
    border: none;
    padding: 12px 13px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    background-color: #007bff;
  }

  #filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  #btn-kategori {
    background-color: white;
    padding: 8px;
    color: black;
    border: none;
    font-size: 15px;
    padding-bottom: 13px;
  }

  #btn-kategori:hover {
    background-color: white;
    border-bottom: 2px solid #007bff;
    cursor: pointer;
  }

  .item {
    display: flex;
    align-items: center;

    padding: 14px;
    background-color: #f8fafc;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .chekbox {
    transform: scale(1.4);
    margin-right: 15px;
    cursor: pointer;
  }

  .teks-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 20px;
  }

  .tekscentang {
    font-size: 10px;
  }

  .klik {
    display: flex;
    gap: 10px;
  }

  .edit {
    border: none;
    padding: 12px 13px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    background-color: #007bff;
  }

  #inputbarutgl {
    width: 100%;
    max-width: 20px;
    transform: scale(1.4);
    cursor: pointer;
  }

  .items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    background-color: #f8fafc;
    border-radius: 10px;
    margin-bottom: 0;
  }

  #inputbaru {
    display: inline-flex;
    align-items: center;

    width: 100%;
    max-width: 255px;
    padding-top: 12px;
    padding: 12px;
    border: solid 2px #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .simpan {
    border: none;
    padding: 12px 13px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    background-color: #007bff;
  }

  .hapus {
    border: none;
    padding: 12px 13px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    background-color: #dc2626;
  }

  #hapussemua {
    width: 100%;
    border: none;
    padding: 12px 13px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    background-color: #dc2626;
  }
}
